<body>
<img src="../../assets/TJ.jpg" class="imagefull" >
<h1></h1><h1></h1>
<div class = "center-content">
  <mat-card class="example-card">
    <img src="../../assets/Capture-removebg-preview.png" width="230px" height =" 85px" ><h1></h1>
    <mat-card-header>
      <div mat-card-avatar ></div><h1></h1>
      <mat-card-title>Welcome to our Application</mat-card-title>
      <mat-card-subtitle>We make your life easier</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group mat-align-tabs="center" animationDuration="2000ms">
        <mat-tab label="Entreprise">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon"><img src = "../../assets/culture-dentreprise.png" width="35px" height="35px"></mat-icon>
            Entreprise
          </ng-template>
          <br>
          <p style="font-family: Comic Sans MS">Welcome our dear Entreprise</p>
          <p style="font-family: Comic Sans MS">Clickez Register pour la creation d'un compte !</p>
          <mat-tab-group class ="matTabEnt" mat-align-tabs="center">
            <mat-tab label="Login">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><img src = "../../assets/user.png" width="35px" height="35px"></mat-icon>
                Login
              </ng-template>
              <br>
              <!--frorm 1 -->
              <form  [formGroup]="LoginEntreprise" (ngSubmit)="LogEntreprise()" class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput class="form-control" type="email" formControlName="emailEntreprise" placeholder="Email" required="" >
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="passwordEntreprise"type="password" placeholder="Password" required="" id="ent-email-log">
                </mat-form-field>
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" checked="" id="remember_me">
                    <label class="custom-control-label" for="remember_me" >Remember me</label>
                  </div><a class="nav-link-inline font-size-sm" href="account-password-recovery.html" style ="color: brown;">Forgot password?</a>
                </div>
                <hr class="mt-4">
                <div class="text-right pt-4">
                  <button class="btn btn-primary" type="submit">Sign In</button>
                </div>
                <br>
              </form>
            </mat-tab>
            <mat-tab label="Register">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><img src = "../../assets/add-user.png" width="35px" height="35px"></mat-icon>
                Register
              </ng-template>
              <br>
              <!--frorm 2 -->
              <form [formGroup]="signupFormEntreprise" (ngSubmit)="signupEntreprise()" >
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Full Name</mat-label>
                  <input matInput  formControlName="Name" type="text" placeholder="first name" required="" id="ent-firstName">
                  <div class="invalid-feedback">Please enter your first name!</div>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email Address</mat-label>
                  <input matInput formControlName="emailEntreprise" type="email" placeholder="First-name" required="" id="ent-email">
                  <div class="invalid-feedback">Please enter your adress email!</div>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="phoneNumber" type="number" placeholder="First-name" required="" id="ent-phone">
                  <div class="invalid-feedback">Please enter your phone number!</div>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Country</mat-label>
                  <input matInput formControlName="country" type="text" placeholder="First-name" required="" id="ent-country">
                  <div class="invalid-feedback">Please enter your Country!</div>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Entreprise Name</mat-label>
                  <input matInput formControlName="EntrepriseName" type="text" placeholder="First-name" required="" id="ent-entName">
                  <div class="invalid-feedback">Please enter the name of your Entreprise!</div>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="address" type="text" placeholder="First-name" required="" id="ent-address">
                  <div class="invalid-feedback">Please enter your address!</div>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Postal Code</mat-label>
                  <input matInput formControlName="codePostal" type="number" placeholder="First-name" required="" id="ent-postal">
                  <div class="invalid-feedback">Please enter your postal code!</div>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="passwordEntreprise" type="password" placeholder="Password" required="" id="ent-password">
                  <div class="invalid-feedback">Please enter password!</div>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput formControlName="ConfirmpasswordEntreprise"  type="password" placeholder="Password" required="" id="ent-password-confirm">
                  <div class="invalid-feedback">Passwords do not match!</div>
                </mat-form-field>
                <br>
                <div class="text-right">
                  <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
                <br>
              </form>
            </mat-tab>
          </mat-tab-group>
          <br>
        </mat-tab>
 <!--___________________________________________________________________________________________-->
<!--____________________________________________________________________________________________-->
<!--______________________________Partie Etudiant_______________________________________________-->
<!--____________________________________________________________________________________________-->
<!--____________________________________________________________________________________________-->
<!--____________________________________________________________________________________________-->

        <mat-tab label="Etudiant">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon"><img src = "../../assets/etudiant-diplome.png" width="35px" height="35px"></mat-icon>
            Etudiant
          </ng-template>
          <br>
          <p style="font-family: Comic Sans MS"> Clickez Register pour la creation d'un compte !</p>
          <p style="font-family: Comic Sans MS">Welcome our dear Student</p>
          <mat-tab-group class ="matTabEnt" mat-align-tabs="center">
            <mat-tab label="Login">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><img src = "../../assets/user.png" width="35px" height="35px"></mat-icon>
                Login
              </ng-template>
              <br>
              <!-- the student  form login 3 -->
              <form  name="loginForm" class="example-form" #loginForm="ngForm" (ngSubmit)="login()" >
                <small>
                  <div   *ngIf="msg!='' "  class="alert alert-danger" role="alert">
                    {{msg}}
                  </div>
                </small>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>UserName</mat-label>
                  <input matInput class="form-control" type="text" placeholder="Email" name="username"  [(ngModel)]="user.username" required  #username="ngModel"
                         [class.is-invalid]="username.touched && username.invalid">
                  <small class="text-danger" [class.d-none]="username.untouched || username.valid"  >
                    username is a Required field
                  </small>

                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required  #password="ngModel"
                         [class.is-invalid]="password.touched && password.invalid">
                  <small class="text-danger" [class.d-none]="password.untouched || password.valid"  >
                    password is a Required field
                  </small>
                </mat-form-field>
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" checked="" >
                    <label class="custom-control-label" for="remember_me" >Remember me</label>
                  </div><a class="nav-link-inline font-size-sm" href="account-password-recovery.html" style ="color: brown;">Forgot password?</a>
                </div>
                <hr class="mt-4">
                <div class="text-right pt-4">
                  <button class="btn btn-primary" [disabled]="loginForm.form.invalid" type="submit">Sign In</button>
                </div>
                <br>
              </form>
            </mat-tab>
            <mat-tab label="Register">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><img src = "../../assets/add-user.png" width="35px" height="35px"></mat-icon>
                Register
              </ng-template>
              <br>
              <!--frorm  4-->
              <form  #signUpEtud="ngForm" (ngSubmit)="register()" name="signupForm" #registerEtudiant="ngForm" class="example-form" >
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput class="form-control"  type="text" placeholder="username" required=""  name="usernameR" [(ngModel)]="user.username"  #usernameR="ngModel"   [class.is-invalid]="username.touched && username.invalid">
                  <small class="text-danger" [class.d-none]="username.untouched || username.valid"  >
                    username is a Required field
                  </small>
                  <div class="invalid-feedback">Please enter your name!</div>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email Address</mat-label>
                  <input matInput class="form-control" type="email" placeholder="First-name" required="" name="email-address"  [(ngModel)]="user.email" required #email="ngModel" autofocus>
                  <small class="text-danger" [class.d-none]="email.untouched || email.valid"  >
                  email is a Required field
                </small>

                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput class="form-control" type="password" placeholder="Password"name="passwordR" required [(ngModel)]="user.password" #passwordR="ngModel"
                         [class.is-invalid]="passwordR.touched && passwordR.invalid">
                  <small class="text-danger" [class.d-none]="passwordR.untouched || passwordR.valid"  >
                  <div class="invalid-feedback">Please enter password!</div>
                  </small>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput class="form-control" type="password" placeholder="Confirm Password" required Name="Confirm_password"   #confirm_password="ngModel"  name="Confirm_password" (ngModel)="user.password"
                         [class.is-invalid]="confirm_password.touched && confirm_password.invalid">

                  <small class="text-danger" [class.d-none]="confirm_password.untouched || confirm_password.value==passwordR.value" >
                    password dosen't match
                  </small>
                  <div class="invalid-feedback">Passwords do not match!</div>
                </mat-form-field>
                <br>
                <div class="text-right">
                  <button class="btn btn-primary"  [disabled]="signUpEtud.form.invalid" type="submit">Sign Up</button>
                </div>
                <br>
              </form>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
</body>
